
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464965376'); /* IE9*/
  src: url('iconfont.eot?t=1464965376#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464965376') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464965376') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464965376#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  display: inline-block;
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  transition: transform .5s;
}
.iconfont:hover{
  transform: rotate(360deg);
}
.icon-github:before { content: "\e66c"; }
.icon-emal-3:before { content: "\e609"; }